<div class="container" style="width: 96%;">
    <app-cust-topbar></app-cust-topbar>
    <app-cust-header></app-cust-header>
    <app-cust-navbar></app-cust-navbar>

    
    <div style="padding: 50px;">
        <app-cust-slider></app-cust-slider>
        <app-cust-categories></app-cust-categories>
        <app-cust-sub-categories></app-cust-sub-categories>
        <app-cust-banner></app-cust-banner>
        <app-cust-featured-products></app-cust-featured-products>
        <app-cust-banner2></app-cust-banner2>
        <app-cust-best-seller-products></app-cust-best-seller-products>
        <app-cust-banner3></app-cust-banner3>
        <app-cust-to-day-deals-products></app-cust-to-day-deals-products>
    </div>

    <app-cust-footer></app-cust-footer>
</div>